body{
    background: #f7e7ce;
    font-family: monospace;
}

.container {
    max-width: 100%;
    width: 95%;
  }
  
  .navbar {
    width: 100%;
    background:  #f7e7ce;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
    align-items: center;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }

  /*Andere Farbe deswegen verschiedene Navbars*/
  .about-navbar .nav-container a {
    text-decoration: none;
    color: #E27D60;
    font-weight: 500;
    font-size: 30px;
    padding: 0.7rem;
  }

  .projekte-navbar .nav-container a {
    text-decoration: none;
    color: #E8A87C;
    font-weight: 500;
    font-size: 30px;
    padding: 0.7rem;
  }

  .kontakt-navbar .nav-container a {
    text-decoration: none;
    color: #41B3A3;
    font-weight: 500;
    font-size: 30px;
    padding: 0.7rem;
  }

  .faehigkeiten-navbar .nav-container a {
    text-decoration: none;
    color: #97C1A9;
    font-weight: 500;
    font-size: 30px;
    padding: 0.7rem;
  }

  .persoenliches-navbar .nav-container a {
    text-decoration: none;
    color: #C38D9E;
    font-weight: 500;
    font-size: 30px;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 35px;
    width: 35px;
    top: 18px;
    left: 18px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*Verschiedene Farben*/
  .about-navbar .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #E27D60;
  }

  .projekte-navbar .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #E8A87C;
  }

  .kontakt-navbar .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #41B3A3;
  }

  .faehigkeiten-navbar .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #97C1A9;
  }

  .persoenliches-navbar .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #C38D9E;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    background: #f7e7ce;
    padding-top: 200px;
    height: 460px;
    width: 1575px;
    transform: translate(-100%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 1s cubic-bezier(.77,.21,.16,.98);
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
  }
  
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  /*Kontaktformular*/
.contact-box{
  width: 500px;
  background-color: #f7e7ce;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: monospace;
  z-index: -1;
}

form{
  margin: 35px;
}

input[name=name]{
  font-family: monospace;
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  border: none;
  border-radius: 14px;
  outline: none;
}

input[name=email]{
  font-family: monospace;
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  border: none;
  border-radius: 14px;
  outline: none;
}

input[name=subject]{
  font-family: monospace;
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  border: none;
  border-radius: 14px;
  outline: none;
}

textarea[name=message]{
  font-family: monospace;
  width: 400px;
  height: 150px;
  margin-top: 20px;
  padding-left: 10px;
  border: none;
  border-radius: 14px;
  outline: none;
  padding-top: 10px;

}

h2{
  margin-right: 35px;
  margin-top: 30px;
  color: #41B3A3;
  font-size: xx-large;
  text-align: center;
}

#submit{
  border-radius: 20px;
  color: #000;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.erfolg{
  color: #41B3A3;
}

/* Über mich */
.uebermich{
  font-family: monospace;
}

.title{
  background-color: #fff;
  text-align: center;
  font-size: 70px;
}

img{
  border-radius: 50%;
  position: -webkit-sticky;
  width: 300px;
  height: 300px;
}

.firstP{
  display: flex;
  border: 30px solid #f7e7ce;
}

.text{
  margin-left: 50px;
  font-size: 16px;
}